body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding: 40px;
}

.card {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.login-container {
  width: 320px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #0b5ed7;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #084298;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
